/* Fonts: Inter regular, medium, bold, Krona One */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/inter-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(assets/inter-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(assets/inter-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Krona One'), local('KronaOne-Regular'), url(assets/krona-one-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
    --dark-blue: #1B2367;
    --accent-yellow: #F7BF5C;
    --bright-yellow: #E4E841;
}

html {
    height: 100%;
    /* background-color: var(--dark-blue); */
}

body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    line-height: 30px;
}

/* Compensate for fixed header when jumping to a specific part of a page */
:target:before {
    content: '';
    display: block;
    height: 70px; /* fixed header height*/
    margin: -70px 0 0; /* negative fixed header height */
}

a {
    color: var(--dark-blue);
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid var(--accent-yellow);
}

::selection {
    background: var(--accent-yellow);
    color: #ffffff;
}

/* HEADER STYLES FOR THE OTHER PAGES */

.page__title img {
    height: 50px;
}
.page__title {
    font-size: 3em;
}

.page__header__quote {
    margin: 20px auto;
    padding: 0 1em;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: 'Inter', sans-serif;
}

/* HEADER STYLES FOR FRONT PAGE */
body>header {
    overflow-x: hidden;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    background: var(--dark-blue);
    border-bottom: 1px solid var(--bright-yellow);
    color: var(--bright-yellow);
    font-family: 'Krona One', sans-serif;
}


.home__header, .page__header {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    line-height: 5.5rem;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.header__image img{
    width: 220px;
    padding: 0px;
    margin-top: 30px;
}

.header__text {
    padding-left: 40px;
}

.header__subtitle {
    font-size: 3rem;
}

.header__maintitle {
    font-size: 4rem;
    display: flex;
}

.header__sparkle img{
    width: 80px;
    padding: 10px;
}


.announcement a:hover {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}
/* STYLING FOR ANY PAGE THAT HAS DARK CONTENT */

.dark {
    background: var(--dark-blue);
    color: #FFFFFF;
    width: 100%;
}

.dark h1,
.dark h2,
.dark h3 {
    color: var(--bright-yellow);
    font-family: 'Krona One', sans-serif;
}

.dark h4 {
    color: white;
}

.dark__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dark__welcome {
    flex: 2;
    /* max-width: 700px; */
    padding: 10px;
}

.dark__sidebar {
    flex: 1;
    padding: 10px;
    /* max-width: 300px; */
}

.dark a {
    color: var(--accent-yellow);
    border-bottom: 1px solid transparent;
}

.dark a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid var(--accent-yellow);
}

/* announcement for home page */
.announcement {
    background-color: var(--accent-yellow);
    color: var(--dark-blue);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.announcement a {
    color:  var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

.announcement a:hover{
    color:  var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}


/* for reference if we want banner images in header */
.live-laugh-logit-bg {
    background-color: #1152bd;
    background-image: url("img/live_laugh_logit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: #FFFFFF;
}

.dark-footer {
    background-color: var(--dark-blue);
    color: #FFFFFF;
}

#navbar {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Krona One', sans-serif;
    line-height: 1.2rem;
    padding-bottom: 10px;
}

#navbar.fixed {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 1;
    background: var(--dark-blue);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}
@media screen and (max-width: 992px) {
    #navbar.fixed {
        display: block;
        /* justify-content: center; */
        padding: 2% 0;
        margin: 0;
    }
}

#navbar a{
    color: var(--bright-yellow);
    display: inline-block;
    margin: 10px 15px 10px 0px;
    text-decoration: none;
    line-height: 1.2em;
}

#navbar a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid transparent;
}

button#hamburger {
    margin-left: 1em;
    display: none;
    border-width: 0;
    background: inherit;
    cursor: pointer;
    margin-right: 0;
}
@media screen and (max-width: 992px) {
    button#hamburger { display: block; }
    #navbar > .nav-link {
        display: none;
        font-size: 1.5rem;
    }
}
#hamburger-bar-1, #hamburger-bar-2, #hamburger-bar-3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: var(--accent-yellow);
    transition: 0.4s;
}
.menu-open #hamburger-bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
}
.menu-open #hamburger-bar-2 {
    opacity: 0;
}
.menu-open #hamburger-bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -7px);
}

main {
    flex: 1;
    width: 100%;
}

aside {
    background-color: var(--accent-yellow);
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    right: 10px;
    width: 20%;
    z-index: 2;
}

aside a {
    color: var(--dark-blue);
    text-decoration: none;
}

aside a:hover {
    color: var(--dark-blue);
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    padding-left: 25px;
}

aside li {
    padding: 4px 5px;
}

aside li.active {
    background: #2D2B38;
    color: #FFFFFF;
}

aside li.active a {
    color: #FFFFFF;
}

section {
    margin: auto;
    max-width: 1000px;
    padding-bottom: 1em;
    padding: 1em 1em;
}


/* lazy sadness to deal with hovering navbar */

section:first-of-type {
    padding-top: 50px;
}

section:last-of-type {
    /* For sticky footer shenanigans */
    border-bottom: none;
    flex: 1;
}

section.has-sidebar {
    /* If this article has a sidebar, section need to float to the left */
    margin-left: 10%;
    margin-right: 10%;
    max-width: 60%;
    width: 60%;
    position: relative;
    float: left;
    padding: 0;
}

section .section-header {
    color: #2D2B38;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    color: #2D2B38;
    /* font-family: avenir; */
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

section h1 {
    font-size: 2rem;
}

section hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid;
    border-color: #2D2B38;
    margin: 1em 0;
    padding: 0;
}

code {
    background-color: #dddddd;
    border-radius: 0.25em;
    border: solid 1px rgba(45, 46, 43, 0.65);
    display: inline-block;
    whitespace: pre-wrap;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tbody tr {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

table tbody tr:nth-child(2n+1) {
    background-color: rgba(45, 46, 43, 0.3);
}

th {
    text-align: left;
}

td {
    padding: .8em .5em;
}

table tbody tr.week-header {
    background-color: #1558b0 !important;
    color: #FFFFFF;
    font-weight: bold;
}

tr.week-header td {
    padding: 0.5em;
}

tr.no-lecture {
    opacity: .5;
}

ul.menu {
    list-style-type: none;
    padding: 0;
}

div.staff {
    display: inline-block;
    width: 100%;
    min-width: 320px;
    margin: 20px;
    overflow: hidden;
    text-align: left;
}

div.uta,
div.staff_uta {
    width: 25%;
    margin: 20px;
}

div#hta-div {
    display: flex;
    flex-wrap: wrap;
}

div#uta-div {
    display: flex;
    flex-wrap: wrap;
}

div.staff img.staff-pic {
    border: 2px solid #2D2B38;
    /*object-fit: cover;*/
    max-height: 350px;
    /* object-position: left; */
}

.dark code {
    background: #2D2B38;
}

code.cslogin {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}


footer {
    background-position: bottom;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--bright-yellow);
}

.random-earmuffs {
    height: 50px;
    width: auto;
    padding-top: 10px;
}

#footer-bowtie {
    height: 4em;
    margin-top: 1em;
    visibility: hidden;
}

#footer-earmuffs {
    height: 4em;
    margin-top: 1em;
    visibility: hidden;
}

footer ul {
    margin: 1em;
    font-size: .9em;
}


/* MOBILE STYLING */
@media screen and (min-width: 993px) {
    .mobile {
        display: none !important;
    }
}
@media screen and (max-width: 992px) {
    .not-mobile {
        display: none !important;
    }

    body {
        font-size: 1.25rem;
        line-height: 1.5rem;
        word-wrap: break-word;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    section.has-sidebar {
        max-width: unset;
        width: unset;
        position: unset;
        float: unset;
        padding: 0;
        margin: 1em;
    }

    /* header formatting */
    header {
        text-align: center;
    }
    .header__text {
        padding: 0;
        margin: auto;
    }
    .header__subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }
    .header__maintitle, .page__title {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .header__image {
        margin: auto;
    }
    nav {
        margin-top: 0;
    }
    nav#navbar a {
        text-align: center;
        display: block;
        font-size: 3rem;
    }
}
