/* Fonts: Inter regular, medium, bold, Krona One */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Krona+One&display=swap');

:root {
    --dark-blue: #1B2367;
    --accent-yellow: #F7BF5C;
    --bright-yellow: #E4E841;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    line-height: 30px;
}

a {
    color: var(--dark-blue);
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid var(--accent-yellow);
}

::selection {
    background: var(--accent-yellow);
    color: #ffffff;
}

/* HEADER STYLES FOR THE OTHER PAGES */

.page__header {
    margin: 0 10%;
    padding: 5% 2% 1% 2%;
}

.page__title img {
    height: 50px;
}
.page__title {
    font-size: 3em;
}

.page__header__quote {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
}

/* HEADER STYLES FOR FRONT PAGE */
body>header {
    overflow-x: hidden;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    background: var(--dark-blue);
    border-bottom: 1px solid var(--bright-yellow);
    color: var(--bright-yellow);
    font-family: 'Krona One', sans-serif;
}


.home__header {
    line-height: 100px;
    margin: 0 10%;
    padding: 5% 2% 1% 2%;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.header__image img{
    width: 220px;
    padding: 0px;
    margin-top: 30px;
}

.header__text {
    padding-left: 40px;
}

.header__subtitle {
    font-size: 3em;
}

.header__maintitle {
    font-size: 5em;
    display: flex;
}

.header__sparkle img{
    width: 80px;
    padding: 10px;
}

/* announcement for home page */
.announcement {
    background-color: var(--accent-yellow);
    color: var(--dark-blue);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.announcement a {
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

/* STYLING FOR ANY PAGE THAT HAS DARK CONTENT */

.dark {
    background: var(--dark-blue);
    color: #FFFFFF;
    width: 100%;
}

.dark h1,
.dark h2,
.dark h3 {
    color: var(--bright-yellow);
    font-family: 'Krona One', sans-serif;
}

.dark h4 {
    color: white;
}

.dark__content {
    display: inline-flex;
    flex-wrap: wrap;
}

.dark__welcome {
    max-width: 700px;
    padding: 10px;
}

.dark__sidebar {
    padding: 10px;
    max-width: 300px;
}
.dark__content a {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.dark__content a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid var(--accent-yellow);
}

/* for reference if we want banner images in header */
.live-laugh-logit-bg {
    background-color: #1152bd;
    background-image: url("img/live_laugh_logit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    color: #FFFFFF;
}

.dark-footer {
    background-color: var(--dark-blue);
    color: #FFFFFF;
}

#navbar {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Krona One', sans-serif;
    line-height: 1.2rem;
    padding-bottom: 10px;
}

#navbar.fixed {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 1;
    background: var(--dark-blue);
    width: 100%;
    margin: 0 0%;
    padding: 2% 6% 2% 12%;
}

#navbar a{
    color: var(--bright-yellow);
    display: inline-block;
    margin: 20px 15px 10px 0px;
    text-decoration: none;
    line-height: 1.2em;
}

#navbar a:hover {
    color: var(--accent-yellow);
    border-bottom: 1px solid transparent;
}

main {
    flex: 1;
    width: 100%;
}

main section {
    margin: 0 10%;
    padding-left:2%;
    padding-right:2%;
}

aside {
    background-color: var(--accent-yellow);
    float: right;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 50px;
    top: 50px;
    right: 10px;
    width: 20%;
}

aside a {
    color: var(--dark-blue);
    text-decoration: none;
}

aside a:hover {
    color: var(--dark-blue);
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    padding-left: 25px;
}

aside li {
    padding: 4px 5px;
}

aside li.active {
    background: #2D2B38;
    color: #FFFFFF;
}

aside li.active a {
    color: #FFFFFF;
}

section {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 80%;
    padding-bottom: 1em;
}


/* lazy sadness to deal with hovering navbar */

section:first-of-type {
    padding-top: 50px;
}

section:last-of-type {
    /* For sticky footer shenanigans */
    border-bottom: none;
    flex: 1;
}

section.has-sidebar {
    /* If this article has a sidebar, section need to float to the left */
    margin-left: 10%;
    margin-right: 10%;
    max-width: 60%;
    width: 60%;
    position: relative;
    float: left;
    padding: 0;
}

section .section-header {
    color: #2D2B38;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    color: #2D2B38;
    /* font-family: avenir; */
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

section h1 {
    font-size: 2rem;
}

section hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid;
    border-color: #2D2B38;
    margin: 1em 0;
    padding: 0;
}

code {
    background-color: rgba(45, 46, 43, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(45, 46, 43, 0.15);
    display: inline-block;
    whitespace: pre-wrap;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tbody tr {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

table tbody tr:nth-child(2n+1) {
    background-color: rgba(45, 46, 43, 0.3);
}

th {
    text-align: left;
}

td {
    padding: .8em .5em;
}

table tbody tr.week-header {
    background-color: #1558b0 !important;
    color: #FFFFFF;
    font-weight: bold;
}

tr.week-header td {
    padding: 0.5em;
}

tr.no-lecture {
    opacity: .5;
}

ul.menu {
    list-style-type: none;
}

div.staff {
    display: inline-block;
    width: 100%;
    min-width: 320px;
    margin: 20px;
    overflow: hidden;
    text-align: left;
}

div.uta,
div.staff_uta {
    width: 25%;
    margin: 20px;
}

div#hta-div {
    display: flex;
    flex-wrap: wrap;
}

div#uta-div {
    display: flex;
    flex-wrap: wrap;
}

div.staff img.staff-pic {
    border: 2px solid #2D2B38;
    /*object-fit: cover;*/
    max-height: 350px;
    /* object-position: left; */
}

code.cslogin {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}


footer {
    background-position: bottom;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--bright-yellow);
}

.random-earmuffs {
    height: 50px;
    width: auto;
    padding-top: 10px;
}

#footer-bowtie {
    height: 4em;
    margin-top: 1em;
    visibility: hidden;
}

#footer-earmuffs {
    height: 4em;
    margin-top: 1em;
    visibility: hidden;
}

footer ul {
    margin: 1em;
    font-size: .9em;
}


/* MOBILE STYLING */
@media screen and (max-width: 992px) {
    body {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .dark h1, h1 {
        font-size: 6rem;
        line-height: 6rem;
    }
    .dark h2, h2 {
        font-size: 5rem;
        line-height: 5rem;
    }
    .dark h3, h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    /* header formatting */
    .header__subtitle {
        font-size: 3rem;
        line-height: 3rem;
    }
    .header__maintitle {
        font-size: 5rem;
        line-height: 5rem;
    }
    nav {
        margin-top: 50px;
    }
    nav#navbar a {
        text-align: center;
        display: block;
        font-size: 3rem;
    }
}
